html {
	background-color: #19202e;
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	container-type: inline-size;
}

#resume, #cards, #description {
	width: 70vw;
	background-color: #1e2738;
	border-radius: 2vw;
	color: #87b3ce;
	font-size: 2cqw;
	font-family: serif;
}

button {
	display: block;
	border-radius: 1.2vw;
	border: none;
	background-color: #465981;
	color: white;
	padding-right: 4%;
}

button::after {
	border: solid black 0.2vw #1e2738;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 5%;
	width: 18%;
	height: 80%;
	border-radius: 1.2vw;
	display: inline-block;
	content: "\2192";
	background-color: white;
	color: #465981;
	line-height: 2.1;
	transition: width 0.3s ease-in-out;
}

button:hover::after {
	transition: width 0.3s ease-in-out;
	width: 90%;
}
